{% extends 'base.html'%}
{% block content %}

 {{super ()}}

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
<div class="container-fluid welcome-page">
    <div class="container">
        <div class="home">
                <h1>BLOG POST</h1>
             <div class="row">


            <div class="col-md-4 welcome">
                <br><br><br>
                <p>Have a story worth sharing? You can now create your own blog post.<br> Just click the button below</p>
                  <button class=" btn"><a href="{{url_for('main.new_post')}}">ADD POST</a></button>

            </div>

            <div class="col-md-8 welcome">
                <br><br>
                {% for pitch in pitches %}
                <h3><u>{{post.title}}</u></h3>
                    <p>{{post.description}}</p>
                    <hr>
                {% endfor %}

            </div>
        </div>



        </div>

    </div>

</div>

{% endblock %}
